codigo/Cooperacha/src/conf/xml-resources/web-service-references/operaciones/wsdl/localhost_8084/cooperachaservicios/operaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cooperacha/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cooperacha/" name="operaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://cooperacha/" schemaLocation="http://localhost:8084/cooperachaservicios/operaciones?xsd=1" />
</xsd:schema>
</types>
<message name="ingresarIniciativa">
<part name="parameters" element="tns:ingresarIniciativa" />
</message>
<message name="ingresarIniciativaResponse">
<part name="parameters" element="tns:ingresarIniciativaResponse" />
</message>
<message name="consultarListas">
<part name="parameters" element="tns:consultarListas" />
</message>
<message name="consultarListasResponse">
<part name="parameters" element="tns:consultarListasResponse" />
</message>
<message name="validarusuario">
<part name="parameters" element="tns:validarusuario" />
</message>
<message name="validarusuarioResponse">
<part name="parameters" element="tns:validarusuarioResponse" />
</message>
<message name="busquedainiciativa">
<part name="parameters" element="tns:busquedainiciativa" />
</message>
<message name="busquedainiciativaResponse">
<part name="parameters" element="tns:busquedainiciativaResponse" />
</message>
<portType name="operaciones">
<operation name="ingresarIniciativa">
<input wsam:Action="http://cooperacha/operaciones/ingresarIniciativaRequest" message="tns:ingresarIniciativa" />
<output wsam:Action="http://cooperacha/operaciones/ingresarIniciativaResponse" message="tns:ingresarIniciativaResponse" />
</operation>
<operation name="consultarListas">
<input wsam:Action="http://cooperacha/operaciones/consultarListasRequest" message="tns:consultarListas" />
<output wsam:Action="http://cooperacha/operaciones/consultarListasResponse" message="tns:consultarListasResponse" />
</operation>
<operation name="validarusuario">
<input wsam:Action="http://cooperacha/operaciones/validarusuarioRequest" message="tns:validarusuario" />
<output wsam:Action="http://cooperacha/operaciones/validarusuarioResponse" message="tns:validarusuarioResponse" />
</operation>
<operation name="busquedainiciativa">
<input wsam:Action="http://cooperacha/operaciones/busquedainiciativaRequest" message="tns:busquedainiciativa" />
<output wsam:Action="http://cooperacha/operaciones/busquedainiciativaResponse" message="tns:busquedainiciativaResponse" />
</operation>
</portType>
<binding name="operacionesPortBinding" type="tns:operaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="ingresarIniciativa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarListas">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="validarusuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="busquedainiciativa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="operaciones">
<port name="operacionesPort" binding="tns:operacionesPortBinding">
<soap:address location="http://localhost:8084/cooperachaservicios/operaciones" />
</port>
</service>
</definitions>