codigo/Cooperacha/src/conf/xml-resources/web-service-references/operaciones/wsdl/localhost_8084/cooperachaservicios/operaciones.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://cooperacha/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://cooperacha/">

<xs:element name="actualizarIniciativa" type="tns:actualizarIniciativa" />

<xs:element name="actualizarIniciativaDonacion" type="tns:actualizarIniciativaDonacion" />

<xs:element name="actualizarIniciativaDonacionResponse" type="tns:actualizarIniciativaDonacionResponse" />

<xs:element name="actualizarIniciativaResponse" type="tns:actualizarIniciativaResponse" />

<xs:element name="actualizarRecompensa" type="tns:actualizarRecompensa" />

<xs:element name="actualizarRecompensaResponse" type="tns:actualizarRecompensaResponse" />

<xs:element name="actualizarUsuario" type="tns:actualizarUsuario" />

<xs:element name="actualizarUsuarioResponse" type="tns:actualizarUsuarioResponse" />

<xs:element name="actualizarUsuarios" type="tns:actualizarUsuarios" />

<xs:element name="actualizarUsuariosResponse" type="tns:actualizarUsuariosResponse" />

<xs:element name="buscarcomentario" type="tns:buscarcomentario" />

<xs:element name="buscarcomentarioResponse" type="tns:buscarcomentarioResponse" />

<xs:element name="busquedainiciativa" type="tns:busquedainiciativa" />

<xs:element name="busquedainiciativaResponse" type="tns:busquedainiciativaResponse" />

<xs:element name="cargarCategoria" type="tns:cargarCategoria" />

<xs:element name="cargarCategoriaResponse" type="tns:cargarCategoriaResponse" />

<xs:element name="cargarRecompensa" type="tns:cargarRecompensa" />

<xs:element name="cargarRecompensaResponse" type="tns:cargarRecompensaResponse" />

<xs:element name="consultaIniciativasPublicadas" type="tns:consultaIniciativasPublicadas" />

<xs:element name="consultaIniciativasPublicadasResponse" type="tns:consultaIniciativasPublicadasResponse" />

<xs:element name="consultaRecompensaIniciativa" type="tns:consultaRecompensaIniciativa" />

<xs:element name="consultaRecompensaIniciativaResponse" type="tns:consultaRecompensaIniciativaResponse" />

<xs:element name="consultarIniciativa" type="tns:consultarIniciativa" />

<xs:element name="consultarIniciativaResponse" type="tns:consultarIniciativaResponse" />

<xs:element name="consultarInicitativaporusuario" type="tns:consultarInicitativaporusuario" />

<xs:element name="consultarInicitativaporusuarioResponse" type="tns:consultarInicitativaporusuarioResponse" />

<xs:element name="consultarListas" type="tns:consultarListas" />

<xs:element name="consultarListasResponse" type="tns:consultarListasResponse" />

<xs:element name="consultarPorcentaje" type="tns:consultarPorcentaje" />

<xs:element name="consultarPorcentajeResponse" type="tns:consultarPorcentajeResponse" />

<xs:element name="consultarUsuario" type="tns:consultarUsuario" />

<xs:element name="consultarUsuarioResponse" type="tns:consultarUsuarioResponse" />

<xs:element name="consultarUsuarios" type="tns:consultarUsuarios" />

<xs:element name="consultarUsuariosResponse" type="tns:consultarUsuariosResponse" />

<xs:element name="consultareliminarborrador" type="tns:consultareliminarborrador" />

<xs:element name="consultareliminarborradorResponse" type="tns:consultareliminarborradorResponse" />

<xs:element name="crearusuario" type="tns:crearusuario" />

<xs:element name="crearusuarioResponse" type="tns:crearusuarioResponse" />

<xs:element name="definirPorcentaje" type="tns:definirPorcentaje" />

<xs:element name="definirPorcentajeResponse" type="tns:definirPorcentajeResponse" />

<xs:element name="denunciaComentario" type="tns:denunciaComentario" />

<xs:element name="denunciaComentarioResponse" type="tns:denunciaComentarioResponse" />

<xs:element name="denunciaIniciativa" type="tns:denunciaIniciativa" />

<xs:element name="denunciaIniciativaResponse" type="tns:denunciaIniciativaResponse" />

<xs:element name="eliminarIniciativa" type="tns:eliminarIniciativa" />

<xs:element name="eliminarIniciativaResponse" type="tns:eliminarIniciativaResponse" />

<xs:element name="eliminarIniciativaborrador" type="tns:eliminarIniciativaborrador" />

<xs:element name="eliminarIniciativaborradorResponse" type="tns:eliminarIniciativaborradorResponse" />

<xs:element name="eliminarUsuario" type="tns:eliminarUsuario" />

<xs:element name="eliminarUsuarioResponse" type="tns:eliminarUsuarioResponse" />

<xs:element name="eliminarcomentario" type="tns:eliminarcomentario" />

<xs:element name="eliminarcomentarioResponse" type="tns:eliminarcomentarioResponse" />

<xs:element name="eliminarmoderadoriniciativa" type="tns:eliminarmoderadoriniciativa" />

<xs:element name="eliminarmoderadoriniciativaResponse" type="tns:eliminarmoderadoriniciativaResponse" />

<xs:element name="gestionarmoderador" type="tns:gestionarmoderador" />

<xs:element name="gestionarmoderadorResponse" type="tns:gestionarmoderadorResponse" />

<xs:element name="ingresarIniciativa" type="tns:ingresarIniciativa" />

<xs:element name="ingresarIniciativaResponse" type="tns:ingresarIniciativaResponse" />

<xs:element name="ingresarIniciativaborrador" type="tns:ingresarIniciativaborrador" />

<xs:element name="ingresarIniciativaborradorResponse" type="tns:ingresarIniciativaborradorResponse" />

<xs:element name="ingresarModerador" type="tns:ingresarModerador" />

<xs:element name="ingresarModeradorResponse" type="tns:ingresarModeradorResponse" />

<xs:element name="ingresarRecompensa" type="tns:ingresarRecompensa" />

<xs:element name="ingresarRecompensaResponse" type="tns:ingresarRecompensaResponse" />

<xs:element name="ingresarcomentario" type="tns:ingresarcomentario" />

<xs:element name="ingresarcomentarioResponse" type="tns:ingresarcomentarioResponse" />

<xs:element name="insertarDonacion" type="tns:insertarDonacion" />

<xs:element name="insertarDonacionResponse" type="tns:insertarDonacionResponse" />

<xs:element name="mostrarIniciativa" type="tns:mostrarIniciativa" />

<xs:element name="mostrarIniciativaResponse" type="tns:mostrarIniciativaResponse" />

<xs:element name="obtenerfecha" type="tns:obtenerfecha" />

<xs:element name="obtenerfechaResponse" type="tns:obtenerfechaResponse" />

<xs:element name="publicarborrador" type="tns:publicarborrador" />

<xs:element name="publicarborradorResponse" type="tns:publicarborradorResponse" />

<xs:element name="validarusuario" type="tns:validarusuario" />

<xs:element name="validarusuarioResponse" type="tns:validarusuarioResponse" />

<xs:complexType name="insertarDonacion">
<xs:sequence>
<xs:element name="fecha" type="xs:string" minOccurs="0" />
<xs:element name="cod_usuario" type="xs:string" minOccurs="0" />
<xs:element name="cod_iniciativa" type="xs:string" minOccurs="0" />
<xs:element name="cod_recompensa" type="xs:string" minOccurs="0" />
<xs:element name="monto" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarDonacionResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="ingresarcomentario">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0" />
<xs:element name="fecha" type="xs:string" minOccurs="0" />
<xs:element name="cod_usuario" type="xs:string" minOccurs="0" />
<xs:element name="cod_iniciativa" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresarcomentarioResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultaRecompensaIniciativa">
<xs:sequence>
<xs:element name="cod_iniciativa" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaRecompensaIniciativaResponse">
<xs:sequence>
<xs:element name="return" type="tns:recompensa" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recompensa">
<xs:sequence>
<xs:element name="cod_iniciativa" type="xs:int" />
<xs:element name="cod_recompensa" type="xs:int" />
<xs:element name="descripcion" type="xs:string" minOccurs="0" />
<xs:element name="estado" type="xs:string" minOccurs="0" />
<xs:element name="precio_unidad" type="xs:double" />
<xs:element name="stock" type="xs:int" />
<xs:element name="tipo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarIniciativa">
<xs:sequence>
<xs:element name="tiempo" type="xs:string" minOccurs="0" />
<xs:element name="descripcion" type="xs:string" minOccurs="0" />
<xs:element name="meta" type="xs:string" minOccurs="0" />
<xs:element name="cod_iniciativa" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarIniciativaResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="cargarCategoria">
<xs:sequence>
<xs:element name="archivo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cargarCategoriaResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="buscarcomentario">
<xs:sequence>
<xs:element name="cod_iniciativa" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarcomentarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:comentario" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="comentario">
<xs:sequence>
<xs:element name="cod_comentario" type="xs:int" />
<xs:element name="cod_iniciativa" type="xs:int" />
<xs:element name="cod_usuario" type="xs:int" />
<xs:element name="descripcion" type="xs:string" minOccurs="0" />
<xs:element name="estado" type="xs:string" minOccurs="0" />
<xs:element name="fecha" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarIniciativaborrador">
<xs:sequence>
<xs:element name="cod_iniciativa" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarIniciativaborradorResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultarIniciativa">
<xs:sequence>
<xs:element name="cod_iniciativa" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarIniciativaResponse">
<xs:sequence>
<xs:element name="return" type="tns:iniciativa" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="iniciativa">
<xs:sequence>
<xs:element name="codiniciativa" type="xs:int" />
<xs:element name="codsubcategoria" type="xs:int" />
<xs:element name="codusuario" type="xs:int" />
<xs:element name="descripcion" type="xs:string" minOccurs="0" />
<xs:element name="estado" type="xs:string" minOccurs="0" />
<xs:element name="meta" type="xs:double" />
<xs:element name="monto" type="xs:double" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="porcentaje" type="xs:double" />
<xs:element name="tiempo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearusuario">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="contrasena" type="xs:string" minOccurs="0" />
<xs:element name="fecha_nac" type="xs:string" minOccurs="0" />
<xs:element name="direccion" type="xs:string" minOccurs="0" />
<xs:element name="telefono" type="xs:string" minOccurs="0" />
<xs:element name="cod_formapago" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearusuarioResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="publicarborrador">
<xs:sequence>
<xs:element name="cod_iniciativa" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="publicarborradorResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="actualizarIniciativaDonacion">
<xs:sequence>
<xs:element name="cod_iniciativa" type="xs:string" minOccurs="0" />
<xs:element name="monto" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarIniciativaDonacionResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="mostrarIniciativa">
<xs:sequence>
<xs:element name="cod_iniciativa" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarIniciativaResponse">
<xs:sequence>
<xs:element name="return" type="tns:iniciativa" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultareliminarborrador">
<xs:sequence>
<xs:element name="cod_usuario" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultareliminarborradorResponse">
<xs:sequence>
<xs:element name="return" type="tns:iniciativa" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresarRecompensa">
<xs:sequence>
<xs:element name="stock" type="xs:string" minOccurs="0" />
<xs:element name="descripcion" type="xs:string" minOccurs="0" />
<xs:element name="tipo" type="xs:string" minOccurs="0" />
<xs:element name="cod_iniciativa" type="xs:string" minOccurs="0" />
<xs:element name="precio" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresarRecompensaResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="obtenerfecha">
<xs:sequence />
</xs:complexType>

<xs:complexType name="obtenerfechaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarInicitativaporusuario">
<xs:sequence>
<xs:element name="cod_usuario" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarInicitativaporusuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:iniciativa" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="denunciaIniciativa">
<xs:sequence>
<xs:element name="cod_iniciativa" type="xs:string" minOccurs="0" />
<xs:element name="cod_usuario" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="denunciaIniciativaResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="denunciaComentario">
<xs:sequence>
<xs:element name="cod_iniciativa" type="xs:string" minOccurs="0" />
<xs:element name="cod_comentario" type="xs:string" minOccurs="0" />
<xs:element name="cod_usuario" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="denunciaComentarioResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="validarusuario">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0" />
<xs:element name="contrasena" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarusuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarUsuario">
<xs:sequence>
<xs:element name="cod_usuario" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="codformapago" type="xs:int" />
<xs:element name="codrol" type="xs:int" />
<xs:element name="codusuario" type="xs:int" />
<xs:element name="contraseña" type="xs:string" minOccurs="0" />
<xs:element name="direccion" type="xs:string" minOccurs="0" />
<xs:element name="estado" type="xs:string" minOccurs="0" />
<xs:element name="fechanac" type="xs:string" minOccurs="0" />
<xs:element name="nickname" type="xs:string" minOccurs="0" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="telefono" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="gestionarmoderador">
<xs:sequence>
<xs:element name="cod_iniciativa" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="gestionarmoderadorResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarUsuarios">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultarUsuariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarcomentario">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarcomentarioResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="ingresarModerador">
<xs:sequence>
<xs:element name="cod_iniciativa" type="xs:string" minOccurs="0" />
<xs:element name="cod_usuario" type="xs:string" minOccurs="0" />
<xs:element name="fecha" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresarModeradorResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultaIniciativasPublicadas">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultaIniciativasPublicadasResponse">
<xs:sequence>
<xs:element name="return" type="tns:iniciativa" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarmoderadoriniciativa">
<xs:sequence>
<xs:element name="codusuario" type="xs:string" minOccurs="0" />
<xs:element name="cod_iniciativa" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarmoderadoriniciativaResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="ingresarIniciativa">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="descripcion" type="xs:string" minOccurs="0" />
<xs:element name="meta" type="xs:string" minOccurs="0" />
<xs:element name="tiempo" type="xs:string" minOccurs="0" />
<xs:element name="cod_categoria" type="xs:string" minOccurs="0" />
<xs:element name="cod_usuario" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresarIniciativaResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="cargarRecompensa">
<xs:sequence>
<xs:element name="archivo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cargarRecompensaResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="actualizarUsuario">
<xs:sequence>
<xs:element name="contrasena" type="xs:string" minOccurs="0" />
<xs:element name="direccion" type="xs:string" minOccurs="0" />
<xs:element name="telefono" type="xs:string" minOccurs="0" />
<xs:element name="cod_usuario" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarUsuarioResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="busquedainiciativa">
<xs:sequence>
<xs:element name="clave" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="busquedainiciativaResponse">
<xs:sequence>
<xs:element name="return" type="tns:iniciativa" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarRecompensa">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarRecompensaResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="eliminarUsuario">
<xs:sequence>
<xs:element name="cod_usuario" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarUsuarioResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultarPorcentaje">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultarPorcentajeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="definirPorcentaje">
<xs:sequence>
<xs:element name="porcentaje" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="definirPorcentajeResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="eliminarIniciativa">
<xs:sequence>
<xs:element name="cod_iniciativa" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarIniciativaResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="actualizarUsuarios">
<xs:sequence>
<xs:element name="cod_rol" type="xs:string" minOccurs="0" />
<xs:element name="telefono" type="xs:string" minOccurs="0" />
<xs:element name="direccion" type="xs:string" minOccurs="0" />
<xs:element name="cod_usuario" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarUsuariosResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="ingresarIniciativaborrador">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="descripcion" type="xs:string" minOccurs="0" />
<xs:element name="tiempo" type="xs:string" minOccurs="0" />
<xs:element name="cod_subcategoria" type="xs:string" minOccurs="0" />
<xs:element name="cod_usuario" type="xs:string" minOccurs="0" />
<xs:element name="meta" type="xs:string" minOccurs="0" />
<xs:element name="estado" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresarIniciativaborradorResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultarListas">
<xs:sequence>
<xs:element name="tabla" type="xs:string" minOccurs="0" />
<xs:element name="campo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarListasResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>