codigo/Cooperacha/web/WEB-INF/wsdl/localhost_8084/cooperachaservicios/operaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cooperacha/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cooperacha/" name="operaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://cooperacha/" schemaLocation="http://localhost:8084/cooperachaservicios/operaciones?xsd=1" />
</xsd:schema>
</types>
<message name="insertarDonacion">
<part name="parameters" element="tns:insertarDonacion" />
</message>
<message name="insertarDonacionResponse">
<part name="parameters" element="tns:insertarDonacionResponse" />
</message>
<message name="consultarListas">
<part name="parameters" element="tns:consultarListas" />
</message>
<message name="consultarListasResponse">
<part name="parameters" element="tns:consultarListasResponse" />
</message>
<message name="consultarUsuario">
<part name="parameters" element="tns:consultarUsuario" />
</message>
<message name="consultarUsuarioResponse">
<part name="parameters" element="tns:consultarUsuarioResponse" />
</message>
<message name="publicarborrador">
<part name="parameters" element="tns:publicarborrador" />
</message>
<message name="publicarborradorResponse">
<part name="parameters" element="tns:publicarborradorResponse" />
</message>
<message name="obtenerfecha">
<part name="parameters" element="tns:obtenerfecha" />
</message>
<message name="obtenerfechaResponse">
<part name="parameters" element="tns:obtenerfechaResponse" />
</message>
<message name="buscarcomentario">
<part name="parameters" element="tns:buscarcomentario" />
</message>
<message name="buscarcomentarioResponse">
<part name="parameters" element="tns:buscarcomentarioResponse" />
</message>
<message name="validarusuario">
<part name="parameters" element="tns:validarusuario" />
</message>
<message name="validarusuarioResponse">
<part name="parameters" element="tns:validarusuarioResponse" />
</message>
<message name="crearusuario">
<part name="parameters" element="tns:crearusuario" />
</message>
<message name="crearusuarioResponse">
<part name="parameters" element="tns:crearusuarioResponse" />
</message>
<message name="cargarRecompensa">
<part name="parameters" element="tns:cargarRecompensa" />
</message>
<message name="cargarRecompensaResponse">
<part name="parameters" element="tns:cargarRecompensaResponse" />
</message>
<message name="eliminarUsuario">
<part name="parameters" element="tns:eliminarUsuario" />
</message>
<message name="eliminarUsuarioResponse">
<part name="parameters" element="tns:eliminarUsuarioResponse" />
</message>
<message name="cargarCategoria">
<part name="parameters" element="tns:cargarCategoria" />
</message>
<message name="cargarCategoriaResponse">
<part name="parameters" element="tns:cargarCategoriaResponse" />
</message>
<message name="ingresarIniciativa">
<part name="parameters" element="tns:ingresarIniciativa" />
</message>
<message name="ingresarIniciativaResponse">
<part name="parameters" element="tns:ingresarIniciativaResponse" />
</message>
<message name="busquedainiciativa">
<part name="parameters" element="tns:busquedainiciativa" />
</message>
<message name="busquedainiciativaResponse">
<part name="parameters" element="tns:busquedainiciativaResponse" />
</message>
<message name="mostrarIniciativa">
<part name="parameters" element="tns:mostrarIniciativa" />
</message>
<message name="mostrarIniciativaResponse">
<part name="parameters" element="tns:mostrarIniciativaResponse" />
</message>
<message name="consultaRecompensaIniciativa">
<part name="parameters" element="tns:consultaRecompensaIniciativa" />
</message>
<message name="consultaRecompensaIniciativaResponse">
<part name="parameters" element="tns:consultaRecompensaIniciativaResponse" />
</message>
<message name="consultaIniciativasPublicadas">
<part name="parameters" element="tns:consultaIniciativasPublicadas" />
</message>
<message name="consultaIniciativasPublicadasResponse">
<part name="parameters" element="tns:consultaIniciativasPublicadasResponse" />
</message>
<message name="actualizarIniciativaDonacion">
<part name="parameters" element="tns:actualizarIniciativaDonacion" />
</message>
<message name="actualizarIniciativaDonacionResponse">
<part name="parameters" element="tns:actualizarIniciativaDonacionResponse" />
</message>
<message name="ingresarIniciativaborrador">
<part name="parameters" element="tns:ingresarIniciativaborrador" />
</message>
<message name="ingresarIniciativaborradorResponse">
<part name="parameters" element="tns:ingresarIniciativaborradorResponse" />
</message>
<message name="actualizarUsuario">
<part name="parameters" element="tns:actualizarUsuario" />
</message>
<message name="actualizarUsuarioResponse">
<part name="parameters" element="tns:actualizarUsuarioResponse" />
</message>
<message name="eliminarIniciativaborrador">
<part name="parameters" element="tns:eliminarIniciativaborrador" />
</message>
<message name="eliminarIniciativaborradorResponse">
<part name="parameters" element="tns:eliminarIniciativaborradorResponse" />
</message>
<message name="ingresarModerador">
<part name="parameters" element="tns:ingresarModerador" />
</message>
<message name="ingresarModeradorResponse">
<part name="parameters" element="tns:ingresarModeradorResponse" />
</message>
<message name="consultareliminarborrador">
<part name="parameters" element="tns:consultareliminarborrador" />
</message>
<message name="consultareliminarborradorResponse">
<part name="parameters" element="tns:consultareliminarborradorResponse" />
</message>
<message name="ingresarRecompensa">
<part name="parameters" element="tns:ingresarRecompensa" />
</message>
<message name="ingresarRecompensaResponse">
<part name="parameters" element="tns:ingresarRecompensaResponse" />
</message>
<message name="actualizarIniciativa">
<part name="parameters" element="tns:actualizarIniciativa" />
</message>
<message name="actualizarIniciativaResponse">
<part name="parameters" element="tns:actualizarIniciativaResponse" />
</message>
<message name="consultarIniciativa">
<part name="parameters" element="tns:consultarIniciativa" />
</message>
<message name="consultarIniciativaResponse">
<part name="parameters" element="tns:consultarIniciativaResponse" />
</message>
<message name="eliminarmoderadoriniciativa">
<part name="parameters" element="tns:eliminarmoderadoriniciativa" />
</message>
<message name="eliminarmoderadoriniciativaResponse">
<part name="parameters" element="tns:eliminarmoderadoriniciativaResponse" />
</message>
<message name="ingresarcomentario">
<part name="parameters" element="tns:ingresarcomentario" />
</message>
<message name="ingresarcomentarioResponse">
<part name="parameters" element="tns:ingresarcomentarioResponse" />
</message>
<message name="eliminarcomentario">
<part name="parameters" element="tns:eliminarcomentario" />
</message>
<message name="eliminarcomentarioResponse">
<part name="parameters" element="tns:eliminarcomentarioResponse" />
</message>
<message name="gestionarmoderador">
<part name="parameters" element="tns:gestionarmoderador" />
</message>
<message name="gestionarmoderadorResponse">
<part name="parameters" element="tns:gestionarmoderadorResponse" />
</message>
<message name="actualizarRecompensa">
<part name="parameters" element="tns:actualizarRecompensa" />
</message>
<message name="actualizarRecompensaResponse">
<part name="parameters" element="tns:actualizarRecompensaResponse" />
</message>
<message name="consultarInicitativaporusuario">
<part name="parameters" element="tns:consultarInicitativaporusuario" />
</message>
<message name="consultarInicitativaporusuarioResponse">
<part name="parameters" element="tns:consultarInicitativaporusuarioResponse" />
</message>
<message name="denunciaComentario">
<part name="parameters" element="tns:denunciaComentario" />
</message>
<message name="denunciaComentarioResponse">
<part name="parameters" element="tns:denunciaComentarioResponse" />
</message>
<message name="actualizarUsuarios">
<part name="parameters" element="tns:actualizarUsuarios" />
</message>
<message name="actualizarUsuariosResponse">
<part name="parameters" element="tns:actualizarUsuariosResponse" />
</message>
<message name="definirPorcentaje">
<part name="parameters" element="tns:definirPorcentaje" />
</message>
<message name="definirPorcentajeResponse">
<part name="parameters" element="tns:definirPorcentajeResponse" />
</message>
<message name="consultarUsuarios">
<part name="parameters" element="tns:consultarUsuarios" />
</message>
<message name="consultarUsuariosResponse">
<part name="parameters" element="tns:consultarUsuariosResponse" />
</message>
<message name="consultarPorcentaje">
<part name="parameters" element="tns:consultarPorcentaje" />
</message>
<message name="consultarPorcentajeResponse">
<part name="parameters" element="tns:consultarPorcentajeResponse" />
</message>
<message name="denunciaIniciativa">
<part name="parameters" element="tns:denunciaIniciativa" />
</message>
<message name="denunciaIniciativaResponse">
<part name="parameters" element="tns:denunciaIniciativaResponse" />
</message>
<message name="eliminarIniciativa">
<part name="parameters" element="tns:eliminarIniciativa" />
</message>
<message name="eliminarIniciativaResponse">
<part name="parameters" element="tns:eliminarIniciativaResponse" />
</message>
<portType name="operaciones">
<operation name="insertarDonacion">
<input wsam:Action="http://cooperacha/operaciones/insertarDonacionRequest" message="tns:insertarDonacion" />
<output wsam:Action="http://cooperacha/operaciones/insertarDonacionResponse" message="tns:insertarDonacionResponse" />
</operation>
<operation name="consultarListas">
<input wsam:Action="http://cooperacha/operaciones/consultarListasRequest" message="tns:consultarListas" />
<output wsam:Action="http://cooperacha/operaciones/consultarListasResponse" message="tns:consultarListasResponse" />
</operation>
<operation name="consultarUsuario">
<input wsam:Action="http://cooperacha/operaciones/consultarUsuarioRequest" message="tns:consultarUsuario" />
<output wsam:Action="http://cooperacha/operaciones/consultarUsuarioResponse" message="tns:consultarUsuarioResponse" />
</operation>
<operation name="publicarborrador">
<input wsam:Action="http://cooperacha/operaciones/publicarborradorRequest" message="tns:publicarborrador" />
<output wsam:Action="http://cooperacha/operaciones/publicarborradorResponse" message="tns:publicarborradorResponse" />
</operation>
<operation name="obtenerfecha">
<input wsam:Action="http://cooperacha/operaciones/obtenerfechaRequest" message="tns:obtenerfecha" />
<output wsam:Action="http://cooperacha/operaciones/obtenerfechaResponse" message="tns:obtenerfechaResponse" />
</operation>
<operation name="buscarcomentario">
<input wsam:Action="http://cooperacha/operaciones/buscarcomentarioRequest" message="tns:buscarcomentario" />
<output wsam:Action="http://cooperacha/operaciones/buscarcomentarioResponse" message="tns:buscarcomentarioResponse" />
</operation>
<operation name="validarusuario">
<input wsam:Action="http://cooperacha/operaciones/validarusuarioRequest" message="tns:validarusuario" />
<output wsam:Action="http://cooperacha/operaciones/validarusuarioResponse" message="tns:validarusuarioResponse" />
</operation>
<operation name="crearusuario">
<input wsam:Action="http://cooperacha/operaciones/crearusuarioRequest" message="tns:crearusuario" />
<output wsam:Action="http://cooperacha/operaciones/crearusuarioResponse" message="tns:crearusuarioResponse" />
</operation>
<operation name="cargarRecompensa">
<input wsam:Action="http://cooperacha/operaciones/cargarRecompensaRequest" message="tns:cargarRecompensa" />
<output wsam:Action="http://cooperacha/operaciones/cargarRecompensaResponse" message="tns:cargarRecompensaResponse" />
</operation>
<operation name="eliminarUsuario">
<input wsam:Action="http://cooperacha/operaciones/eliminarUsuarioRequest" message="tns:eliminarUsuario" />
<output wsam:Action="http://cooperacha/operaciones/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse" />
</operation>
<operation name="cargarCategoria">
<input wsam:Action="http://cooperacha/operaciones/cargarCategoriaRequest" message="tns:cargarCategoria" />
<output wsam:Action="http://cooperacha/operaciones/cargarCategoriaResponse" message="tns:cargarCategoriaResponse" />
</operation>
<operation name="ingresarIniciativa">
<input wsam:Action="http://cooperacha/operaciones/ingresarIniciativaRequest" message="tns:ingresarIniciativa" />
<output wsam:Action="http://cooperacha/operaciones/ingresarIniciativaResponse" message="tns:ingresarIniciativaResponse" />
</operation>
<operation name="busquedainiciativa">
<input wsam:Action="http://cooperacha/operaciones/busquedainiciativaRequest" message="tns:busquedainiciativa" />
<output wsam:Action="http://cooperacha/operaciones/busquedainiciativaResponse" message="tns:busquedainiciativaResponse" />
</operation>
<operation name="mostrarIniciativa">
<input wsam:Action="http://cooperacha/operaciones/mostrarIniciativaRequest" message="tns:mostrarIniciativa" />
<output wsam:Action="http://cooperacha/operaciones/mostrarIniciativaResponse" message="tns:mostrarIniciativaResponse" />
</operation>
<operation name="consultaRecompensaIniciativa">
<input wsam:Action="http://cooperacha/operaciones/consultaRecompensaIniciativaRequest" message="tns:consultaRecompensaIniciativa" />
<output wsam:Action="http://cooperacha/operaciones/consultaRecompensaIniciativaResponse" message="tns:consultaRecompensaIniciativaResponse" />
</operation>
<operation name="consultaIniciativasPublicadas">
<input wsam:Action="http://cooperacha/operaciones/consultaIniciativasPublicadasRequest" message="tns:consultaIniciativasPublicadas" />
<output wsam:Action="http://cooperacha/operaciones/consultaIniciativasPublicadasResponse" message="tns:consultaIniciativasPublicadasResponse" />
</operation>
<operation name="actualizarIniciativaDonacion">
<input wsam:Action="http://cooperacha/operaciones/actualizarIniciativaDonacionRequest" message="tns:actualizarIniciativaDonacion" />
<output wsam:Action="http://cooperacha/operaciones/actualizarIniciativaDonacionResponse" message="tns:actualizarIniciativaDonacionResponse" />
</operation>
<operation name="ingresarIniciativaborrador">
<input wsam:Action="http://cooperacha/operaciones/ingresarIniciativaborradorRequest" message="tns:ingresarIniciativaborrador" />
<output wsam:Action="http://cooperacha/operaciones/ingresarIniciativaborradorResponse" message="tns:ingresarIniciativaborradorResponse" />
</operation>
<operation name="actualizarUsuario">
<input wsam:Action="http://cooperacha/operaciones/actualizarUsuarioRequest" message="tns:actualizarUsuario" />
<output wsam:Action="http://cooperacha/operaciones/actualizarUsuarioResponse" message="tns:actualizarUsuarioResponse" />
</operation>
<operation name="eliminarIniciativaborrador">
<input wsam:Action="http://cooperacha/operaciones/eliminarIniciativaborradorRequest" message="tns:eliminarIniciativaborrador" />
<output wsam:Action="http://cooperacha/operaciones/eliminarIniciativaborradorResponse" message="tns:eliminarIniciativaborradorResponse" />
</operation>
<operation name="ingresarModerador">
<input wsam:Action="http://cooperacha/operaciones/ingresarModeradorRequest" message="tns:ingresarModerador" />
<output wsam:Action="http://cooperacha/operaciones/ingresarModeradorResponse" message="tns:ingresarModeradorResponse" />
</operation>
<operation name="consultareliminarborrador">
<input wsam:Action="http://cooperacha/operaciones/consultareliminarborradorRequest" message="tns:consultareliminarborrador" />
<output wsam:Action="http://cooperacha/operaciones/consultareliminarborradorResponse" message="tns:consultareliminarborradorResponse" />
</operation>
<operation name="ingresarRecompensa">
<input wsam:Action="http://cooperacha/operaciones/ingresarRecompensaRequest" message="tns:ingresarRecompensa" />
<output wsam:Action="http://cooperacha/operaciones/ingresarRecompensaResponse" message="tns:ingresarRecompensaResponse" />
</operation>
<operation name="actualizarIniciativa">
<input wsam:Action="http://cooperacha/operaciones/actualizarIniciativaRequest" message="tns:actualizarIniciativa" />
<output wsam:Action="http://cooperacha/operaciones/actualizarIniciativaResponse" message="tns:actualizarIniciativaResponse" />
</operation>
<operation name="consultarIniciativa">
<input wsam:Action="http://cooperacha/operaciones/consultarIniciativaRequest" message="tns:consultarIniciativa" />
<output wsam:Action="http://cooperacha/operaciones/consultarIniciativaResponse" message="tns:consultarIniciativaResponse" />
</operation>
<operation name="eliminarmoderadoriniciativa">
<input wsam:Action="http://cooperacha/operaciones/eliminarmoderadoriniciativaRequest" message="tns:eliminarmoderadoriniciativa" />
<output wsam:Action="http://cooperacha/operaciones/eliminarmoderadoriniciativaResponse" message="tns:eliminarmoderadoriniciativaResponse" />
</operation>
<operation name="ingresarcomentario">
<input wsam:Action="http://cooperacha/operaciones/ingresarcomentarioRequest" message="tns:ingresarcomentario" />
<output wsam:Action="http://cooperacha/operaciones/ingresarcomentarioResponse" message="tns:ingresarcomentarioResponse" />
</operation>
<operation name="eliminarcomentario">
<input wsam:Action="http://cooperacha/operaciones/eliminarcomentarioRequest" message="tns:eliminarcomentario" />
<output wsam:Action="http://cooperacha/operaciones/eliminarcomentarioResponse" message="tns:eliminarcomentarioResponse" />
</operation>
<operation name="gestionarmoderador">
<input wsam:Action="http://cooperacha/operaciones/gestionarmoderadorRequest" message="tns:gestionarmoderador" />
<output wsam:Action="http://cooperacha/operaciones/gestionarmoderadorResponse" message="tns:gestionarmoderadorResponse" />
</operation>
<operation name="actualizarRecompensa">
<input wsam:Action="http://cooperacha/operaciones/actualizarRecompensaRequest" message="tns:actualizarRecompensa" />
<output wsam:Action="http://cooperacha/operaciones/actualizarRecompensaResponse" message="tns:actualizarRecompensaResponse" />
</operation>
<operation name="consultarInicitativaporusuario">
<input wsam:Action="http://cooperacha/operaciones/consultarInicitativaporusuarioRequest" message="tns:consultarInicitativaporusuario" />
<output wsam:Action="http://cooperacha/operaciones/consultarInicitativaporusuarioResponse" message="tns:consultarInicitativaporusuarioResponse" />
</operation>
<operation name="denunciaComentario">
<input wsam:Action="http://cooperacha/operaciones/denunciaComentarioRequest" message="tns:denunciaComentario" />
<output wsam:Action="http://cooperacha/operaciones/denunciaComentarioResponse" message="tns:denunciaComentarioResponse" />
</operation>
<operation name="actualizarUsuarios">
<input wsam:Action="http://cooperacha/operaciones/actualizarUsuariosRequest" message="tns:actualizarUsuarios" />
<output wsam:Action="http://cooperacha/operaciones/actualizarUsuariosResponse" message="tns:actualizarUsuariosResponse" />
</operation>
<operation name="definirPorcentaje">
<input wsam:Action="http://cooperacha/operaciones/definirPorcentajeRequest" message="tns:definirPorcentaje" />
<output wsam:Action="http://cooperacha/operaciones/definirPorcentajeResponse" message="tns:definirPorcentajeResponse" />
</operation>
<operation name="consultarUsuarios">
<input wsam:Action="http://cooperacha/operaciones/consultarUsuariosRequest" message="tns:consultarUsuarios" />
<output wsam:Action="http://cooperacha/operaciones/consultarUsuariosResponse" message="tns:consultarUsuariosResponse" />
</operation>
<operation name="consultarPorcentaje">
<input wsam:Action="http://cooperacha/operaciones/consultarPorcentajeRequest" message="tns:consultarPorcentaje" />
<output wsam:Action="http://cooperacha/operaciones/consultarPorcentajeResponse" message="tns:consultarPorcentajeResponse" />
</operation>
<operation name="denunciaIniciativa">
<input wsam:Action="http://cooperacha/operaciones/denunciaIniciativaRequest" message="tns:denunciaIniciativa" />
<output wsam:Action="http://cooperacha/operaciones/denunciaIniciativaResponse" message="tns:denunciaIniciativaResponse" />
</operation>
<operation name="eliminarIniciativa">
<input wsam:Action="http://cooperacha/operaciones/eliminarIniciativaRequest" message="tns:eliminarIniciativa" />
<output wsam:Action="http://cooperacha/operaciones/eliminarIniciativaResponse" message="tns:eliminarIniciativaResponse" />
</operation>
</portType>
<binding name="operacionesPortBinding" type="tns:operaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="insertarDonacion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarListas">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="publicarborrador">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerfecha">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarcomentario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="validarusuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="crearusuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="cargarRecompensa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="eliminarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="cargarCategoria">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ingresarIniciativa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="busquedainiciativa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="mostrarIniciativa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultaRecompensaIniciativa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultaIniciativasPublicadas">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="actualizarIniciativaDonacion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ingresarIniciativaborrador">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="actualizarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="eliminarIniciativaborrador">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ingresarModerador">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultareliminarborrador">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ingresarRecompensa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="actualizarIniciativa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarIniciativa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="eliminarmoderadoriniciativa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ingresarcomentario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="eliminarcomentario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="gestionarmoderador">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="actualizarRecompensa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarInicitativaporusuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="denunciaComentario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="actualizarUsuarios">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="definirPorcentaje">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarUsuarios">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarPorcentaje">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="denunciaIniciativa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="eliminarIniciativa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="operaciones">
<port name="operacionesPort" binding="tns:operacionesPortBinding">
<soap:address location="http://localhost:8084/cooperachaservicios/operaciones" />
</port>
</service>
</definitions>